<aside
  class="h-[calc(100vh-40px)] w-[200px] border-r border-gray-800 absolute bottom-0"
>
  <ul class="flex flex-col px-2 gap-y-3">
    <li
      class="px-2 py-1 rounded-md cursor-pointer"
      (click)="openFolder(folder.name)"
      [ngClass]="{
        'bg-gray-500/70 text-white': folder.name === this.currentOpened.name,
        ' hover:bg-gray-500/20': folder.name !== this.currentOpened.name
      }"
      *ngFor="let folder of folders"
    >
      <i [className]="folder.icon"> </i>
      <span> {{ folder.name }} </span>
    </li>
  </ul>
</aside>
